.logo{
  width: 250px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 10%;
}
.azure{
  width: 30px;
  height: auto;
}
.error{
  color: red;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 5px;
}

.title{
  margin-top: 15px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.bd{
  background-color: #F3F3F3;
}
.container {
  max-width: 500px;

}

.card-img-top{
  padding-right: 50px;
}

.mat-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-form-field{
  color: #1a1d56;
}

.btn-op{
  background-color: #a2c617;
  color: aliceblue;
}

.i{
  color: #1a1d56;
}

.btn-light{
  border-color: darkgray;
}

.hr-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  width: 80%;
}

.hr-centered::before, .hr-centered::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid grey;
  margin: 0 10px;
}
.footer {
  justify-content: center;
  background-color: #F3F3F3;
}

p {
  font-size: 14px;
  color: #888;
}
